@model IEnumerable<Transaction>

@{
    ViewData["Title"] = "Transaction List";
}

<div class="container mt-5">
    <h2 class="text-center mb-4">Transaction List</h2>
    <div class="mb-3">
        <form method="get" asp-action="GetAll" class="d-flex" asp-controller="Transatcion">
            <input type="search" name="searchString" class="form-control me-2" placeholder="Search Transatcion" />
            <button type="submit" class="btn btn-dark">Search</button>
        </form>
    </div>

    <div class="mb-3">
        <a asp-action="Insert" class="btn btn-primary">
            <i class="fas fa-plus"></i> Create New Transaction
        </a>
    </div>

    <table class="table table-striped table-bordered">
        <thead class="thead-dark">
            <tr>
                <th>ID</th>
                <th>Transaction Type</th>
                <th>Quantity</th>
                <th>Transaction Date</th>
            </tr>
        </thead>
        <tbody>
            @if (Model != null && Model.Any())
            {
                foreach (var transaction in Model)
                {
                    <tr>
                        <td>@transaction.ID</td>
                        <td>@transaction.TransactionType</td>
                        <td>@transaction.Quantity</td>
                        <td>@transaction.TransactionDate.ToString("MM/dd/yyyy")</td>
                    </tr>
                }
            }
            else
            {
                <tr>
                    <td colspan="4" class="text-center">No transactions available.</td>
                </tr>
            }
        </tbody>
    </table>
</div>

@section Scripts {
    <script src="https://kit.fontawesome.com/a076d05399.js" crossorigin="anonymous"></script>
}
