@using Inventory.DB.ViewModels;
@model Inventory.DB.ViewModels.TransactionViewModel;

<h2>Create New Transaction</h2>

<form asp-action="Insert" method="post">
   
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
    <div class="form-group">
        <label asp-for="TransactionType" class="control-label"></label>
        <select asp-for="TransactionType" class="form-select">
            <option value="Add">Add</option>
            <option value="Withdraw">Withdraw</option>
        </select>
        <span asp-validation-for="TransactionType" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label asp-for="Quantity" class="control-label"></label>
        <input asp-for="Quantity" class="form-control" />
        <span asp-validation-for="Quantity" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label asp-for="TransactionDate" class="control-label"></label>
        <input asp-for="TransactionDate" class="form-control" />
        <span asp-validation-for="TransactionDate" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label asp-for="ProductID" class="control-label"></label>
        <select class="form-select" asp-for="ProductID" asp-items="Model.products"></select>
        <span asp-validation-for="ProductID" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label asp-for="UserID" class="control-label"></label>
        <select class="form-select" asp-for="UserID" asp-items="Model.Users"></select>
        <span asp-validation-for="UserID" class="text-danger"></span>
    </div>

    <div class="form-group">
        <input type="submit" value="Insert" class="btn btn-primary" />
    </div>
</form>

<div>
    <a asp-action="GetAll">Back to List</a>
</div>

