@model Category

<h2> Category Details</h2>

<div>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
             Category Name
        </dt>
        <dd class="col-sm-10">
            @Model.CategoryName
        </dd>
        <dt class="col-sm-2">
            Category description
        </dt>
        <dd class="col-sm-10">
            @Model.Description
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Update" asp-route-id="@Model.ID">Edit</a>
    <a asp-action="GetAll">Back to List</a>
</div>
